##  CHƯƠNG 2: QUY TRÌNH XÂY DỰNG MỘT HỆ THỐNG HỌC MÁY - PHẦN 1
-----

**NỘI DUNG BÀI HỌC:**
1. Đọc dữ liệu từ file CSV, Text
2. Đọc dữ liệu từ file Excel
3. Tải dữ liệu mẫu từ thư viện Sklearn

---------------------------------
* Mã sinh viên: 1821050295
* Họ và tên: Đỗ Thị Huyền
* Lớp: DCCTPM63A
* Email: huyenjy@gmail.com

## THỰC HÀNH 1
---
**Yêu cầu 1.1: Học viên đọc dữ liệu dạng CSV lưu trong file Data_Titanic.csv với các tham số mặc định**

In [1]:
#{HỌC VIÊN VIẾT CODE VÀO ĐÂY!}
import pandas as pd
df = pd.read_csv('Data\Data_Titanic.csv')
df.head()
#df.info()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Yêu cầu 1.2: Đọc dữ liệu từ file Data_Titanic.CSV vào 2 biến DataFrame tương ứng**
1. df_number: Chỉ chứa các cột dữ liệu số
2. df_object: Chỉ chứa các cột dữ liệu Object

In [2]:
#{HỌC VIÊN VIẾT CODE VÀO ĐÂY!}
df_number = pd.read_csv('Data\Data_Titanic.csv').select_dtypes(exclude ="object")
df_number.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [3]:
df_object = pd.read_csv('Data\Data_Titanic.csv').select_dtypes(exclude ="number")
df_object.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

**Yêu cầu 1.3: Đọc dữ liệu nhiệt độ của 6 thành phố [Hà Nội, Vinh, Đà Nẵng, Nha Trang, TP Hồ Chí Minh, Cà Mau] từ file txt_Data_Temp.txt vào biến DataFrame tương ứng**

In [4]:
#{HỌC VIÊN VIẾT CODE VÀO ĐÂY!}
df_1 = pd.read_csv('Data\\txt_Data_Temp.txt',
                   names = ['Hà Nội', 'Vinh', 'Đà Nẵng', 'Nha Trang', 'TP Hồ Chí Minh', 'Cà Mau'],
                   sep=" ")
df_1.head()

   Hà Nội   Vinh  Đà Nẵng  Nha Trang  TP Hồ Chí Minh  Cà Mau
0   25.65  24.79    24.01      25.06           25.48   24.97
1   25.31  24.21    24.02      24.93           25.16   24.83
2   25.05  23.73    23.89      24.79           24.80   24.55
3   24.79  23.36    23.83      24.84           24.74   24.48
4   24.59  23.05    23.69      24.82           24.80   24.38

## THỰC HÀNH 2:
---
Yêu cầu 2.1: Học viên đọc dữ liệu dạng excel lưu trong file excel_Data_Movies.xls theo từng sheet, sau đó nối các dataframe lại với nhau thành một DataFrame duy nhất df_movies

In [5]:
#{HỌC VIÊN VIẾT CODE VÀO ĐÂY!}
path_excel = 'Data\excel_Data_Movies.xls'
data_ex1 = pd.read_excel(path_excel,
                         sheet_name=0)
data_ex2 = pd.read_excel(path_excel,
                         sheet_name=1,
                         skiprows=3)
data_ex3 = pd.read_excel(path_excel,
                         sheet_name=2,
                         skiprows=2,
                         names=list(data_ex1.columns))
#data_ex3.info()
df_movies = pd.concat([data_ex1, data_ex2, data_ex3],
                      ignore_index=True)
#Ghép nối dữ liệu dùng ignore_index=True
df_movies

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481,691,1.0,10718,88.0,69.0,8.0
1,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4,0,1.0,5,1.0,1.0,4.8
2,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,...,81.0,12.0,6.0,108,226,0.0,4849,45.0,48.0,8.3
3,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203,12000,1.0,111841,413.0,260.0,8.3
4,Pandora's Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,...,426.0,20.0,3.0,455,926,1.0,7431,84.0,71.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16.00,NaN,NaN,...,1000.0,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,8.2
5038,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,1.33,NaN,NaN,...,685.0,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,7.3
5039,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2.00,NaN,NaN,...,511.0,457.0,206.0,1617,954,0.0,726,6.0,2.0,7.1
5040,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,27000.0,698.0,427.0,29196,0,2.0,6053,33.0,9.0,7.7
5041,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,0.0,NaN,NaN,0,124,0.0,12417,51.0,6.0,7.0

## 3. Tải dữ liệu mẫu từ Sklearn
---
<img src='pic/dataset.jpg' width='200px'>
* Trong thư viện sklearn cung cấp một số bộ dữ liệu mẫu, kích thước nhỏ, rất hữu ích cho việc demo các thuật toán học máy.
* Sử dụng dữ liệu mẫu: import sklearn.datasets
<img src='pic/example_data.png' width='500px'>

## THỰC HÀNH 3
---
**Yêu cầu 3.1:** Học viên tìm hiểu tập dữ liệu mẫu nhận dạng các loại rượu ( Wine recognition dataset).
1. Cho biết bộ dữ liệu này lưu trữ dữ liệu gì?
2. Có bao nhiêu thuộc tính? bao nhiêu bản ghi?
3. Đọc dữ liệu từ dataset mẫu bào biến dataframe.
4. Hiển thị một số mẫu rượu trong tập dữ liệu

In [6]:
#{HỌC VIÊN VIẾT CODE Ở ĐÂY}
from sklearn.datasets import load_wine
wine = load_wine()
df_wine = pd.DataFrame(wine.data, columns=wine.feature_names) # Câu 3
df_wine["target"] = wine.target
#df_wine.info()
#https://scikit-learn.org/stable/datasets.html#datasets
print ('''Câu 1:
Bộ dữ liệu lưu trữ dữ liệu về rượu.
Dữ liệu là kết quả phân tích hóa học các loại rượu vang được trồng ở cùng một vùng ở Ý bởi ba người trồng trọt khác nhau.
Có mười ba phép đo khác nhau được thực hiện cho các thành phần khác nhau được tìm thấy trong ba loại rượu.\n''')
print ('''Câu 2:
Có 13 thuộc tính và 178 bản ghi.\n
Câu 3 và Câu 4 ở phần code có kèm cmt.''')
df_wine.tail () # Câu 4

Câu 1:
Bộ dữ liệu lưu trữ dữ liệu về rượu.
Dữ liệu là kết quả phân tích hóa học các loại rượu vang được trồng ở cùng một vùng ở Ý bởi ba người trồng trọt khác nhau.
Có mười ba phép đo khác nhau được thực hiện cho các thành phần khác nhau được tìm thấy trong ba loại rượu.

Câu 2:
Có 13 thuộc tính và 178 bản ghi.

Câu 3 và Câu 4 ở phần code có kèm cmt.

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560.0,2

**Yêu cầu 3.2:** Học viên tìm hiểu tập dữ liệu mẫu còn lại trong bộ Datasets của thư viện Sklearn:
1. Cho biết bộ dữ liệu này lưu trữ dữ liệu gì?
2. Có bao nhiêu thuộc tính? bao nhiêu bản ghi?
3. Tập dữ này dùng cho bài toán nào?

In [7]:
#1.Tập dữ liệu Diabetes Dataset
#{Học viên mô tả các tập dữ liệu của thư viện Sklearn vào đây!}
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
df_diabetes = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df_diabetes["target"] = diabetes.target
print ('''Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu về bệnh tiểu đường.\n
Câu 2:
Số thuộc tính: 10
Số bản ghi: 442\n
Câu 3: Dùng cho bài toán hồi quy (regression)''')
df_diabetes

Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu về bệnh tiểu đường.

Câu 2:
Số thuộc tính: 10
Số bản ghi: 442

Câu 3: Dùng cho bài toán hồi quy (regression)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [8]:
#2.Tập dữ liệu Digits Dataset
#{Học viên mô tả các tập dữ liệu của thư viện Sklearn vào đây!}
from sklearn.datasets import load_digits
digits = load_digits()
df_digits = pd.DataFrame(digits.data, columns=digits.feature_names)
df_digits["target"] = digits.target
print ('''Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu nhận dạng quang học của bộ dữ liệu chữ số viết tay.\n
Câu 2:
Số thuộc tính: 64
Số bản ghi: 1797\n
Câu 3: Dùng cho bài toán phân loại (classification)''')
df_digits

Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu nhận dạng quang học của bộ dữ liệu chữ số viết tay.

Câu 2:
Số thuộc tính: 64
Số bản ghi: 1797

Câu 3: Dùng cho bài toán phân loại (classification)

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [9]:
#3.Tập dữ liệu Breast Cancer Wisconsin Dataset
#{Học viên mô tả các tập dữ liệu của thư viện Sklearn vào đây!}
from sklearn.datasets import load_breast_cancer
breast_cancer = load_breast_cancer()
df_BC = pd.DataFrame(breast_cancer.data, columns=breast_cancer.feature_names)
df_BC["target"] = breast_cancer.target
print ('''Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu để chẩn đoán ung thư vú.\n
Câu 2:
Số thuộc tính: 30
Số bản ghi: 569\n
Câu 3: Dùng cho bài toán phân loại (classification)''')
df_BC

Câu 1:
Bộ dữ liệu này lưu trữ dữ liệu để chẩn đoán ung thư vú.

Câu 2:
Số thuộc tính: 30
Số bản ghi: 569

Câu 3: Dùng cho bài toán phân loại (classification)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1